*{
    margin: 0px ;
}

.menu-container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.453);
    flex-wrap: wrap;
}

#Newhite{
    width: 20vh;
    padding: 30px;
    font-size: 2em;
    border-radius: 15rem
}

.box{
    padding: 30px;
    font-size: 2em;
    color: black;
    text-decoration: none; 
}

.space{
    width: 40%;

}

.box:hover {
    background-color: rgba(0, 0, 0, 0.453);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    border: transparent;
    height: 5%;
}

.New-Container{
    display: flex;
    background-color: whitesmoke;
    height: 60vh;
    justify-content: space-around;
}


.New{
    font-size: 5vh;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
}

.aanmelden {
    height:15vh;
    padding: 20px;
    background-color: whitesmoke;
}


#Login{
    text-align: end;
}

#Login{
    text-align: end;
}

.box1{
    border-radius: 15px;
    font-size: 8em;
    height: 150px;
    width: 150px;
}

#button{
    background-color: rgba(0, 0, 0, 0.453);
    color: whitesmoke;
    padding: 10px 45px;
    border-radius: 8px;
    border: transparent;
    text-decoration: none;
}

#button1{
    background-color: rgba(0, 0, 0, 0.453);
    color: whitesmoke;
    padding: 10px 45px;
    border-radius: 8px;
    border: transparent;
    text-decoration: none;
    width: 400px;
}

#input{
    background-color: #eee;
    margin: 8px 0px;
    padding: 10px 15px;
    border-radius: 8px;
    width: 30%;
    outline: none;
}

#input2{
    background-color: #eee;
    margin: 8px 0px;
    padding: 10px 15px;
    border-radius: 8px;
    width: 20%;
    outline: none;
}

.grid-body{
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: repeat(4,25%);
    text-align: center;
    height: 45vh;
}

#img{
    width: 300px;
}

#img1{
    width: 300px;
    padding: 0px 50px;
}

.men{
    font-size: 5vh;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
}

.login {
    background-color: whitesmoke;
    padding: 10px 15px; 
}

.register{
    background-color: whitesmoke;
    padding: 10px 15px;
    height: 60vh;
}

#txt{
    padding: 0px 130px;
}

#text-buy1{
    text-align: center;
    padding: 70px;
}

#text-buy2{
    text-align: center;
    height: 30vh;
}

#a{
    text-decoration: none;
    color: black;
}

.footer{
    background-color: rgba(0, 0, 0, 0.453);
    text-align: center;
    color: black;
    padding: 50px;
    bottom: 0%;
    position: relative;
}